@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

/*seção cabeçalho --------------------------------------------------------------------------- */

header{
    background: url(./images/bg-hero-desktop.svg);
    background-size: cover;
}

.cabecalho {
    padding: 100px;
}

.cabecalho__topo {
    display: flex;
    justify-content: space-between;
}

.cabecalho__btn-1 {
    padding: 10px 55px 10px 55px;
    background-color: #fff;
    border: none;
    box-shadow: 4px 2px 0.4em rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.cabecalho__conteudo {
    display: flex;
    justify-content: space-between;
}

.cabecalho__texto {
    margin-top: 200px;
}

.cabecalho__texto h1 {
    padding: 10px 0 10px 0;
}

.cabecalho__texto p {
    margin: 20px 0 0 0;
}

.cabecalho__btn-3 {
    margin: 30px 0 0 0;
    padding: 10px 55px 10px 55px;
    background-color: #fe52c0;
    color: #fff;
    border: none;
    box-shadow: 4px 2px 0.4em rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.cabecalho__mockup {
    margin-top: 90px;
    max-width:900px;
    max-height 850px;
    width: auto;
    height: auto;
}

/*seção de caixas -------------------------------------------------------------------------*/