@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

/*seção cabeçalho --------------------------------------------------------------------------- */

header{
    background: url(./images/bg-hero-desktop.svg);
    background-size: cover;
}

.cabecalho {
    padding: 100px;
}

.cabecalho__topo {
    display: flex;
    justify-content: space-between;
}

.cabecalho__btn-1 {
    padding: 10px 45px 10px 45px;
    background-color: #fff;
    border: none;
    box-shadow: 4px 2px 0.4em rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.cabecalho__conteudo {
    display: flex;
    justify-content: space-between;
}

.cabecalho__texto {
    margin-top: 200px;
}

.cabecalho__texto h1 {
    padding: 10px 0 10px 0;
}

.cabecalho__texto p {
    margin: 20px 0 0 0;
}

.cabecalho__btn-3 {
    margin: 30px 0 0 0;
    padding: 10px 55px 10px 55px;
    background-color: #fe52c0;
    color: #fff;
    border: none;
    box-shadow: 4px 2px 0.4em rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.cabecalho__mockup {
    margin-top: 90px;
    max-width:900px;
    max-height: 850px;
    width: auto;
    height: auto;
}

/*seção de caixas -------------------------------------------------------------------------*/

.caixa {
    margin-top: 100px;
}

.caixa__1 {
    margin: 30px 100px 30px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    box-shadow: 4px 2px 0.5em rgba(0, 0, 0, 0.1);
    
}

.caixa__img-1 {
    max-width:600px;
    max-height: 550px;
    width: auto;
    height: auto;
}

.caixa__2 {
    margin: 30px 100px 30px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    box-shadow: 4px 2px 0.5em rgba(0, 0, 0, 0.1);
}

.caixa__img-2 {
    max-width:600px;
    max-height: 550px;
    width: auto;
    height: auto;
}

.caixa__3 {
    margin: 30px 100px 30px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    box-shadow: 4px 2px 0.5em rgba(0, 0, 0, 0.1);
}



.caixa__img-3 {
    max-width:600px;
    max-height: 550px;
    width: auto;
    height: auto;
}

/*caixa sobreposta ao footer -------------------------------------------------------------------------*/


.caixaSobreposta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 2px 0.5em rgba(0, 0, 0, 0.1);
    height: 200px;
    margin: 0 600px 0 600px;
    padding: 50px;
    border-radius: 20px;
    position: absolute;
    z-index: 50;
    background-color: #fff;
    
    
}

.caixaSobreposta__btn {
    margin: 30px 0 0 0;
    padding: 10px 55px 10px 55px;
    background-color: #fe52c0;
    color: #fff;
    border: none;
    box-shadow: 4px 2px 0.4em rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

/* footer -------------------------------------------------------------------------*/

footer{
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    padding: 150px 200px 0px 200px;
    margin-top: 170px;
}

.conteudo__footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 0 100px 0;
}

.informacoes {
    font-size: 0.876rem;
}

.logo__footer {
    max-width:200px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 30px;
}

.info__ipsum {
    margin-bottom: 20px;
}

.info__tel {
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

a {
    color: #fff;
    font-size: 0.876rem;
}

ul li{
    margin-bottom: 20px;
}

.icones__sociais a{
   padding: 10px;
   font-size: 1.345rem;
}

.copyright {
    font-size: 0.876rem;
    margin-top: 50px;
    margin-left: 1200px;
    padding: 0 0 40px 0;
}

/* reponsividade -------------------------------------------------------------------------*/

@media (max-width: 765px){
    header {
        background: url("./images/bg-hero-mobile.svg");
        background-size: cover;
        
    }

    .cabecalho{
        padding: 20px;
    }

    .cabecalho__topo{
        justify-content: space-around;
        align-items: center;
    }

    .cabecalho__conteudo {
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }

    .cabecalho__btn-1 {
        width: auto;
        height: auto;
    }

    br 
    { 
       display: none; 
    }

    .cabecalho__texto {
        margin-top: 100px;
    }

    /* seção de caixas  ---------------------*/

    .caixa__1 {
        flex-direction: column;
    }

    .caixa__img-1 {
        max-width:200px;
        max-height: 150px;
    }

    .caixa__2 {
        flex-direction: column;
    }

    .caixa__img-2 {
        max-width:200px;
        max-height: 150px;
    }

    .caixa__3 {
        flex-direction: column;
    }

    .caixa__img-3 {
        max-width:200px;
        max-height: 150px;
    }

    /*caixa sobreposta ao footer --------------*/

    .caixaSobreposta{
       margin: 50px;
       padding: 20px;
       width: 300px;
       height: auto;
       text-align: center;
       left: 50px;
    }

    /* footer ---------------------------------*/

    footer{
        padding: 150px;
        text-align: center;
    }
    .conteudo__footer{
        flex-direction: column;
    }

    .copyright {
        margin-top: 30px;
        margin-left: 0;
        padding: 0 0 0 0;
    }

}